body {
  background-color: #9cf1f8;
  background: linear-gradient(to top left, #abfcd6, #155607);
  height: 95vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

h1 {
  color: rgb(37, 32, 32);
}

.board {
  background-color: #e7f6d2;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cell {
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
}

.cell:hover {
  cursor: pointer;
  background-color: rgb(182, 219, 121);
}

footer {
  margin-top: 20px;
}

.dark {
  background-color: rgb(182, 219, 121);
}

button {
  cursor: pointer;
  margin-top: 20px;
  padding: 8px 17px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

button:hover {
  background-color: #7dc617;
  transition: 0.75s;
}

.bomb {
  background-color: red;
}

.emoji {
  padding: 8px 8px;
  font-size: 16px;
}
